---
---

@import "custom";
@import "bootstrap/bootstrap";
$fa-font-path: "webfonts";
@import "font-awesome/font-awesome";
@import "font-awesome/regular";
@import "font-awesome/solid";
@import "font-awesome/brands";
@import "katex";
@import "solarized";

.highlight-bold {
  font-weight: bold;
}

.limited-width {
  max-width: 800px;
  margin: 0 auto;
}

.limited-width p {
  text-align: justify;
}